.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatbox-container {
  position: absolute;
  bottom: 0;
  height: 500px;
  right: 5%;
  width: 300px;
  border: 1px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin: 0 300px;
    min-height: 30rem;
  }
  form {
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  }
  
  .name-field {
    margin-bottom: 40px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    
  }
  
  .render-chat {
    max-width: 350px;
    border-radius: 1px;
    padding: 20px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  }
  
  h3 {
    color: #2f72da;
  }
  
  span {
    color: black;
  }


  #chatbox {
    background-color: white;
    z-index: 2;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 300px;
    position: fixed;
    bottom: 100px;
    right: 10px; 
  }

  .search {
    position: absolute;
    top: 57rem;
    left: 52%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 307px;
    z-index: 10;
    opacity: 90%;
    border: solid;
    border-radius: 5px;
  }

  .search input {
    border-radius: 5%;
    border: none;
    height: 30px;
    width: 300px;
  }

  .values {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: -300px;
  }
  .truck {
    margin-top: -200px;
    
  }
  .each-value {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin: 10px;
    
  }

  .faq-whole {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    margin-top: 100px;
    width: 70%;
  }
  .faq-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .faq-question {
    display: flex;
    align-items: flex-start;
    margin: 10px 0px 20px 0px;
    border-top: #3c3b3d 2px solid;
  }

  .profile {
    display: flex;
    margin: 100px;
    justify-content: center;
    position: center;
  }

  .home-button {
    margin-right: 20px
  }